.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.left-section,
.right-section {
    width: 40%;
    height: calc(25rem + 10vh);
    background-color: #ccc;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}
.left-section{
    background-color: #09C184;
}
.right-section{
    background-color: #01DCC3;
}

.title-section-history {
    font-size: 1.5rem;
}

.white-box {
    width: 80%;
    height: calc(5rem + 2vw);
    font-size: calc(0.8rem + 0.2vw);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin-top: 2rem; 
}

.buttons {
    display: flex;
    justify-content:space-between;
    margin-top: 190px; 
    align-items: center;
    margin-left: 20px;
    width: 100%;
}

.button-history {
    width: 150px;
    height: 40px;
    background-color: #bbbbbb;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

#book-text-info{
    margin-top: 0;
}


/*Tablet*/
@media only screen and (max-width: 1200px) {}

/*Movil*/
@media only screen and (max-width: 750px) {}
