.todo{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.app-name {
    width: 90%;
    font-size: 2vw;
    height: 10vh;
    background-color: #CAF729;
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    text-align: center;
    margin-bottom: 2rem;
}

.white-rectangle {
    font-size: calc(1rem + 0.7vw);
    width: 50vw;
    height: calc(5rem + 20vh);
    background-color: white;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.description-with-text{
    background-color: #09C184;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 30px;
}

#description-text{
    display: inline-block;
    font-size: calc(2rem + 0.7vw);
}

.name-with-description{
    width: 60%;
    display:inline-block;
    
}

.square {
    width: calc(25vw + 3rem); 
    border: 1px solid black ;
    border-radius: 5px;
    margin-left: 60px;
}

/*Tablet*/
@media only screen and (max-width: 1200px) {}

/*Movil*/
@media only screen and (max-width: 750px) {
    .todo{
        background-color: #09C184;
    }
    .app-name {
        width: 167%;
        font-size: 7vw;
        height: 10vh;
        border-radius: 0px;
        border: none;
        margin-left: 0px;
        text-align: center;
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
    .description-with-text{
        border-radius: 0px;
        border: none;
        width: 167%;
        text-align: center;
        margin-bottom: 30px;
        margin-left: 0px;
    }
    .square {
        width: calc(20vw + 3rem); 
        border: 1px solid black ;
        border-radius: 5px;
        margin-left: 120px;
        margin-bottom: 2rem;
    }
    #description-text{
        font-size: 20px;
    }
    .white-rectangle {
        font-size: calc(0.6rem + 0.7vw);
        width: 60vw;
        height: calc(6rem + 20vh);
        background-color: white;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 10px;
    }
}
