.app-name {
    width: 90%;
    font-size: 2vw;
    height: 10vh;
    background-color: #CAF729;
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    text-align: center;
    margin-bottom: 2rem;
}

.white-rectangle {
    font-size: calc(1rem + 0.7vw);
    width: 50vw;
    height: calc(5rem + 20vh);
    background-color: white;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.description-with-text{
    background-color: #09C184;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

#description-text{
    display: inline-block;
    font-size: calc(2rem + 0.7vw);
}

.name-with-description{
    width: 60%;
    display:inline-block;
    
}

.square {
    width: calc(25vw + 3rem); 
    border: 1px solid black ;
    border-radius: 5px;
    margin-left: 60px;
}

/*Tablet*/
@media only screen and (max-width: 1200px) {}

/*Movil*/
@media only screen and (max-width: 750px) {}
