.daycare-section {
    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;    
}

.image-users{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.image-rectangle {
    width: 70%;
}

.info-rectangle {
    text-align: center;
    display: inline-block;
    width: 50%;
    background-color: rgb(183, 183, 183);
    border-radius: 10px;
    border: 1px black solid;
}
.text-user{
    width: 80%;
    border: none;
    display: inline-block;
}

.rectangle{
    width: 80%;
    background-color: #ffffff;
    text-align: left;
    align-content: center;
    margin: 0 auto;
    padding: 20px; 
    border: 1px black solid;
    margin: 1rem;
    border-radius: 10px;
}








#imagen-position{
    display: inline-block;
    text-align: center;
    width: 45%;
}



.white-rectangle{
    width: 80%;
    height: calc(5rem + 5vh);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.reserve-button {
    margin-top: 20px;
}

#button-reservation {
    width: 10rem;
    height: 3rem;
    background-color: #F5F5F5;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
}
#reseñas-init-page{
    text-align: -webkit-center;
}
.reseñas{
    background-color: rgb(183, 183, 183);
    text-align: center;
    width: 80%;
    height: calc(20rem + 2vh);
    text-align: -webkit-center;
}

/*Tablet*/
@media only screen and (max-width: 1200px) {}

/*Movil*/
@media only screen and (max-width: 750px) {}
