.container {
    padding: 2rem;
}

/* Imagen del mapa */
.image-rectangle {
    max-width: 100%;
    margin-top: 2rem;
    height: auto;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contenedor de información */
.info-container {
    text-align: center;
    margin-top: 1.5rem;
    background-color: #5AE1B8;
    border-radius: 10px;
    color: #444;
    font-weight: bold;
    border: none;
    padding: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.info-title {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    color: #5AE1B8;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.service-list{
    list-style-type: none;
    padding: 0;
    text-align: left;
}

/* Lista de ubicaciones */
.location-list {
    text-align: center;
    background-color: #F7F7F7;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.location-list ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.location-list-title {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.location-list li {
    color: #444;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.location-list li:nth-child(odd) {
    background-color: #F7F7F7;
}

.location-list li:hover {
    background-color: #5AE1B8;
    font-weight: bold;
    cursor: pointer;
    color: #444;
}

.location-name {
    font-weight: bold;
    color: #444;
}

/* ---------------------------------------- Contenedor de reseñas ----------------------------------------*/

.reviews-container {
    background-color: #2fb990;
    text-align: center;
    border-radius: 10px;
    border: none;
    text-align: left;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.image-comment-with-name{
    text-align: justify;
}

#button-review-position{
    text-align: right;
}

.reviews-title {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #FDFDFD;
    color: #333;
}

.submit-review-button {
    display: inline-block;
    padding: 0.5rem 2rem;
    background-color: #07F9A2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.submit-review-button:hover {
    background-color: #09C184;
}

.review-form {
    margin-top: 2rem;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.review-form-title {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    color: #555;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.review {
    background-color: #ffffff;
    text-align: center; /* Cambio a 'center' para centrar el contenido */
    margin: 1rem;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.image-user {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.user-name {
    color: #333;
    margin-top: 0.5rem; /* Espacio entre la imagen y el nombre */
}

.comments-users{
    text-align: left;
    display: inline-block;
}

.user-text {
    width: 80%;
    margin: 0 auto;
    font-style: italic;
    color: #333;
}

/* Botón de reserva */
.button-reservation {
    display: inline-block;
    padding: 0.5rem 2rem;
    background-color: #F7F7F7;
    color: #09C184;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.text-information-services{
    text-align: left;
}

.button-reservation:hover {
    background-color: #09C184;
    color: white;
}

/* ... (código CSS posterior) ... */


/*Tablet*/
@media only screen and (max-width: 1200px) {
    .image-rectangle {
        width: 310px;
        height: 255px;
        border: 1px solid black;
        border-radius: 5px;
        align-items: center;
    }
    .reviews-container {
        width: 680px;
        margin-left: -100px;
    }
}
/*Movil*/
@media only screen and (max-width: 750px) {
    .daycare-section {
        background-color: #09C184;
        display: grid;
          
    }
    .info-container {
        width: 320px;
        
    }
    .reviews-container {
        width: 320px;
        margin-left: -40px;
    }
    
}
