/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
}

.input-profile {
    margin-top: 0.5rem;
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    color: #333;
}

.main-rectangle {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.vertical-line {
    width: 1px;
    height: 100%;
    background-color: #000000;
}

.left-section,
.right-section {
    width: calc(50% - 1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-section {
    padding: 2rem;
    text-align: center;
    border-radius: 15px;
}

.right-section {
    background-color: #01DCC3;
    padding: 2rem;
    text-align: center;
    border-radius: 15px;
}

.profile-photo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border: 5px solid white;
}

.photo-label {
    font-size: 16px;
    color: #777;
    margin-top: 0.5rem;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.action-menu {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto 0;
    padding: 2rem;
    background-color: #09C184;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
#title-personal-information{
    color: #01DCC3;
}
.input-label{
    font-weight: bold;
    font-size: medium;
    text-align: left;
    justify-content: left;
}
.input-total-profile{
    text-align: left;
}

.section-title {
    color: #09C184;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    justify-content: center;
    background-color: white;
    margin-bottom: 1rem;
}

.input-container {
    margin-bottom: 1rem;
    text-align: left;
    justify-content: left;
    align-items: start;
}

#foto-perfil-profile {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

/* Estilos para los botones */
.action-button {
    margin: 0 10px;
}

.transparent-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.transparent-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

.action-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.action-text {
    display: inline-block;
    margin-left: 5px;
}

/* Estilos para los botones de mascotas y reservas */
.pet-reservation-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.pet-button,
.reservation-button {
    background-color: transparent;
    border: none;
    cursor: default;
    display: flex;
    align-items: center;
    margin: 0 10px;
    color: #555;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.pet-button i,
.reservation-button i {
    font-size: 24px;
    margin-right: 5px;
}

.pet-button:hover,
.reservation-button:hover {
    color: #333;
}

#hr-line{
    border: 1px solid #ccc;
    width: 80%;
    margin: 1rem auto;
}

/*Tablet*/
@media only screen and (max-width: 1200px) {
    .profile-page {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: -webkit-center;
        margin-bottom: 2rem;
    }
    
    .profile-photo {
        width: 10rem;
        height: 10rem;
        background-color: white;
        border: 1px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .main-rectangle {
        width: 50%;
        height: calc(22rem + 10vh);
        display: flex;
        border: none;
        margin-left: 0%;
        justify-content: space-between;
    }
    .left-section{
        width: 10rem;
        height: 15rem;
        margin-left: 0px;
        margin-top: 0px;
        background-color: #ffffff;
        margin-bottom: 180px;
    }
    
    .right-section{
        width: calc(50% - 1px);
        height: 410px;
        align-items: center;
        justify-content: center;
        background-color: #01DCC3;
        border-radius: 5px;
    }
    .vertical-line {
        width: 1px;
        height: 100%;
        background-color: #ffffff;
    }

    .action-menu {
        width: 20%;
        height: 370px;
        background-color: #09C184;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-left: 60px;
        margin-top: 0%;
    }



}

/*Movil*/
@media only screen and (max-width: 750px) {
    .profile-page {
        background-color: #09C184;
        display: grid;
        flex-direction: column;
        justify-content: center;
        text-align: -webkit-center;
        margin-bottom: 2rem;
    }
    
    .profile-photo {
        width: 7rem;
        height: 7rem;
        background-color: white;
        border: 1px solid gray;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .main-rectangle {
        width: 100%;
        margin-top: 40px;
        justify-content: space-between;
        flex-direction: column;
        height: calc(20rem + 10vh);
        border: none;
        justify-content: center;
    }
    .left-section{
        width: 10rem;
        height: 15rem;
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #09C184;
    }
    
    .right-section{
        width: calc(100% - 1px);
        height: 300px;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        background-color: #01DCC3;
        border-radius: 5px;
        font-size: 15px;
    }
    .vertical-line {
        width: 1px;
        height: 100%;
        background-color: #ffffff;
    }

    .action-menu {
        width: 100%;
        height: 250px;
        background-color: #09C184;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-top: 60px;
        margin-left: -20px;
        margin-bottom: 20px;
    }
    .action-menu h2{
        margin-top: 0px;
        font-size: 20px;
    }
    .input-perfil {
        margin-top: 1rem;
        width: 80%;
        height: 2rem;
        margin-bottom: 1rem;
        font-size: 10px;
    }

    .action-buttons {
        width: 20%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }

    .button-profile{
        width: 5rem;
        border-radius: 4px;
        height: 2rem;
        margin: 2rem;
        margin-top: 0px;
        font-size: 10px;
    }

}
