.all-page{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.title-reservation {
    font-size: 1.5rem;
}

#availability-reservation {
    font-size: 1.2rem;
    margin-left: 1.3rem;
}

.field-input-reservation{
    display: block;
    margin-top: 1rem;
}

.sections-container {
    display: flex;
    width: 100%;
    height: calc(20rem + 10vh);
}

.input-perfil{
    width: 90%;
    height: 1rem;
    margin-top: 1rem;
    border: 1px solid black;
}

.left-section,
.right-section {
    width: 48%;
    border: 1px solid black;
    margin: 1rem;
    background-color: #09C184;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fields-inputs{
    width: 80%;
}

.date-reservation{
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#date-reservation-input, .input-date{
    width: 80%;
}

.second-part{
    display: flex;
    margin: 1rem;
    background-color: #01DCC3;
    padding: 1rem;
    align-items: center;
    border: 1px black solid;
}

.availability-section {
    width: 46%;
    height: calc(6rem + 1vh);
    margin-left: 1rem;
    display: contents;
    align-items: center;
    border: 1px solid black;
}

.time-box {
    width: 20%;
    height: 2rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
}

.confirm-button {
    border: 1px solid black;
    background-color: #CAF729;
    height: calc(2rem + 1.5vh);
    font-size: 1rem;
    margin-left: 7rem;
    border-radius: 5px;
    cursor: pointer;
}

/*Tablet*/
@media only screen and (max-width: 1200px) {
    .all-page{
        display: flex;
    }
    .sections-container {
        display: flex;
        width: 70%;
        height: calc(20rem + 10vh);
    }
    .second-part{
        display: grid;
        width: 20%;
        margin: 1rem;
        padding: 1rem;
    }
    .availability-section {
        align-items: center;
        width: 10px;
        height: calc(10rem + 1vh);
        margin-left: 1rem;
        
    }
    .time-box {
        width: 50%;
        height: 2rem;
        margin-left: 25%;
        
    }
    .confirm-button {
        width: 130px;
        border: 1px solid black;
        background-color: #CAF729;
        height: calc(2rem + 1.5vh);
        font-size: 0.8rem;
        margin-left: 20%;
        
    }
}

/*Movil*/
@media only screen and (max-width: 750px) {
    .all-page{
        display: grid;
        background-color: #09C184;
    }
    .sections-container {
        display: grid;
        align-items: center;
        width: 150%;
        height: calc(30rem + 10vh);
    }
    .right-section, .left-section{
        height: 300px;
        background-color: #0f9b6c;
    }
    .second-part{
        display: grid;
        width: 205px;
        margin-top: 8rem;
        padding: 2rem;
    }
    .availability-section {
        align-items: center;
        width: 50px;
        height: calc(10rem + 1vh);
        margin-left: 1rem;
        margin-top: 1rem;
        
    }
    .time-box {
        width: 50%;
        height: 2rem;
        margin-top: 1rem;
        margin-left: 25%;
        
    }
    .confirm-button {
        width: 105px;
        border: 1px solid black;
        background-color: #CAF729;
        height: calc(1.5rem + 1.5vh);
        font-size: 0.8rem;
        margin-left: 50px;
        margin-top: 1rem;
        
    }
}
