
<body id="body-form">

    <!-- Body page -->
    <div class="page">
        <div class="left-section">
            <h2 class="title-section-history">Pending Reservations</h2>
            <label id="book-count-history">1 Reservation</label>
            <div id="book-text-info" class="white-box">
                <strong>Canine Residence Majacan</strong><br>
                <strong>Arrival:</strong> 05/11/2023<br>
                <strong>Departure:</strong> 10/11/2023<br>
                <strong>Additional Options:</strong><br>
                2 daily walks
                Included meals<br>
                <strong>Price:</strong> 95€ 
            </div>
        </div>
        <div class="right-section">
            <h2 class="title-section-history">Reservation History</h2>
            <div class="white-box">
                <strong>Canary Can</strong><br>
                <strong>Arrival:</strong> 20/04/2023<br>
                <strong>Departure:</strong> 30/04/2023<br>
                <strong>Additional Options:</strong> None<br>
                <strong>Price:</strong> 60€
            </div>
            <div class="white-box">
                <strong>Canine Center Tindara</strong><br>
                <strong>Arrival:</strong> 18/12/2022<br>
                <strong>Departure:</strong> 30/12/2022<br>
                <strong>Additional Options:</strong>
                2 daily walks
                1 shower<br>
                <strong>Price:</strong> 130€
            </div>
        </div>
    </div>

</body>
