
.header {
    background-color: #CECECE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-container {
    display: flex;
    gap: 50px; 
    transform: translateX(-100px);
}

.link {
    width: 124px;
    height: 43px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.link:hover {
    background-color: gray;
    cursor:default;
}

.register, .login {
    width: 80px;
    height: 43px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-register-log {
    display: flex;
    gap: 25px;
    transform: translateX(-100px);
}
