.app-name {
    width: 50vw;
    font-size: 1.5vw;
    height: 8vh;
    background-color: rgb(183, 182, 182);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.white-rectangle {
    font-size: 1.8em;
    width: 50vw;
    height: 20vh;
    background-color: white;
    margin-right: 40px;
    margin-left: 40px;
}
.description-with-text{
    display: -webkit-inline-box;
    width: 100%;
    text-align: center;
}
.description-text{
    display: inline-table;
}

.name-with-description{
    width: 60%;
    display: inline-block;
}

.square {
    width: 30vw; 
    border: 1px solid black ;
    border-radius: 5px;
}
