.form-login-position {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}
.form-login{
    background-color: #D9D9D9;
    text-align: -webkit-center;
    padding: 2rem;
    border: 1px black solid;
    border-radius: 6px;
}
.label-input {
    display: block;
    text-align: left;
    margin-left: 1rem;
}

#login-form-header{
    text-align: center;
    font-size: 2rem;
    font-family: Calibri, 'Trebuchet MS', sans-serif   ;
}

.input-box {
    font-size: 15px;
    margin: 0;
    position:relative;
    text-align: left;
    left: 15%;
    margin-bottom: 5px;
}

.input-field {
    width: 20vw;
    height: 6vh;
    font-size: 1.0rem;
    margin: 0.5rem;
    padding-left: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
}

.button-form {
    display: block;
    width: calc(8vw + 0.4rem);
    height: calc(5vh + 0.1rem);
    border-radius: 10px;
    background-color: #F5F5F5;
    font-size: calc(1.4vh + 0.4rem);
    margin-bottom: 1rem;
}

.login-form {   
    width: 150px;
    height: 45px;
    font-size: 18px;
    background-color: #838383;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-link {
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}
