.profile-page {
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: -webkit-center;
} 

.input-perfil {
    margin-top: 1rem;
    width: 80%;
    height: 2rem;
    margin-bottom: 1rem;
}

.button-profile{
    width: 10rem;
    border-radius: 4px;
    height: 3rem;
    margin: 2rem;
    margin-top: 0;
}

.main-rectangle {
    width: 80%;
    height: calc(22rem + 10vh);
    background-color: #cccccc;
    border: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0%;
}

.vertical-line {
    width: 1px;
    height: 100%;
    background-color: #000000;
}

.left-section,
.right-section {
    width: calc(50% - 1px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo {
    width: 12rem;
    height: 12rem;
    background-color: white;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.action-menu {
    width: 80%;
    background-color: rgb(183, 183, 183);
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px black solid;
    border-radius: 5px;
}

.field-input-profile{
    margin-right: auto;
    margin-left: calc(0.5rem + 3vw)
}