body {
    margin: 0;
    padding: 0;
}


.outer-rectangle {
    top: 175px;
    left: 450px;
    width: 495px;
    height: 480px;
    background-color: rgb(183, 183, 183);
    margin-top: 56px; /* Espacio arriba */
    position: relative;
}
.register-text {
    width: 70px;
    height: 20px;
    text-align:center;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 40%;
    font-size: 30px;
}

.inner-rectangle {
    width: 340px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.field {
    
    width: 340px;
    height: 45px;
    background-color: white;
    margin-bottom: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.field p {
    
    width: 70px;
    height: 20px;
    text-align:center;
    margin: 0;
    position: absolute;
    top: -30px;
    left: 0%;
    
}
