.page {
    width: 1440px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sections-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 345px;
}

.second-part{
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.left-section,
.right-section {
    width: 48%;
    height: 100%;
    border: 1px solid black;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.availability-section {
    width: 43%;
    height: 105px;
    margin-left: 50px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;

}

h2 {
    font-size: 24px;
}
h3 {
    font-size: 24px;
    margin-left: 20px;
}

input{
    width: 300px;
    height: 100px;
    margin-top: 50px;
    border: 1px solid black;

}

.white-box {
    border: 1px solid black;
    width: 80%;
    height: 50px;
    background-color: white;
    margin-top: 20px; 
}

.time-box {
    border: 1px solid black;
    width: 100px;
    height: 50px;
    margin-right: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-button {
    border: 1px solid black;
    font-size: 18px;
    width: 350px;
    height: 50%;
    margin-left: 240px;
    background-color: #bebebe;
    border-radius: 5px;
    cursor: pointer;
}
