<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="sign-in" href="/tabs/sign-in">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Sign in</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sign-up" href="/tabs/sign-up">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Sign up</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="master-view" href="/tabs/master-view">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Master view</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="view-details" href="/tabs/view-details">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>View Details</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favourite-list" href="/tabs/favourite-list">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Favourite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
