<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "icon" type = "image/ico" href = "../../logo.ico">
        <title>Header</title>
        <link rel="stylesheet" href="../../css/components/header.css">
    </head>
    <body>
        <header class="header">
            <div class="logo-container">
                <nav class="nav-header">
                    <a href="" class="imagen-logo"><img src="../../images/logoApp.png" alt="pets-life-logo" loading="lazy" class="logo"/></a>
                    <a href="" class="link">Link1</a>
                    <a href="" class="link">Link2</a>
                    <a href="" class="link">Link3</a>
                    <a href="" class="link">Link4</a>
                <nav>
            </div>
            <div class="links-register-log">
                <button class="register-button">Register</button>
                <button class="login-button">Login</button>
            </div>
        </header>
    </body>
</html>
