<footer class="footer-section">
    <div class="wrapper">
        <nav class="column column-first">
            <h3 class="title-footer-section">Our work</h3>
            <a href="" class="row-one" style="display: inline-block;"><i class="fas fa-dog"></i> Taking care</a>
            <a href="" class="row-two" style="display: block;"><i class="fas fa-cat"></i> Feeding</a>
        </nav>
        
        <nav class="column column-second">
            <h3 class="title-footer-section">Social Media</h3>
            <a href="https://www.youtube.com/" class="row-one" style="display: inline-block;" target="_blank"><i class="fab fa-youtube"></i> Youtube</a>
            <a href="https://es.linkedin.com/" class="row-two" style="display: block;" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
        </nav>
        
        <nav class="column column-third">
            <a href="homePage.html" class="row-one"><i class="fa-solid fa-paw" id="logo-footer-icon"></i><h2 id="pets-life-title">PETS-LIFE</h2></a>
        </nav>
                
        <nav class="column column-fourth">
            <h3 class="title-footer-section">Project</h3>
            <a href="https://github.com/Raamonvm8/pwmProject" class="row-one" style="display: inline-block;"><i class="fab fa-github" target="_blank"></i> Github</a>
            <a href="https://www.figma.com/file/KJuL1CO3bSa5M9TLdUBWAM/Untitled?type=design&node-id=0%3A1&mode=design&t=m4zTgHKol7C6vuF8-1" class="row-two" style="display: block;" ><i class="fab fa-figma" target="_blank"></i> Figma</a>
        </nav>
        
        <nav class="column column-fifth">
            <h3 class="title-footer-section">Contact us</h3>
            <a href="" class="row-one" style="display: inline-block;"><i class="fab fa-whatsapp"></i> WhatsApp</a>
            <a href="" class="row-two" style="display: block;"><i class="fas fa-envelope"></i> Email</a>
        </nav>
    </div>
</footer>
