<footer class="footer-section">
    <div class="wrapper">
        <nav class="column column-first">
            <h3 class="title-fotter-section">Our work</h3>
            <a href="" class="row-one" style="display: inline-block;"><i class="fas fa-dog"></i> Taking care</a>
            <a href="" class="row-two" style="display: block;"><i class="fas fa-cat"></i> Feeding</a>
        </nav>
        
        <nav class="column column-second">
            <h3 class="title-fotter-section">Social Media</h3>
            <a href="" class="row-one" style="display: inline-block;"><i class="fab fa-youtube"></i> Youtube</a>
            <a href="" class="row-two" style="display: block;"><i class="fab fa-linkedin"></i> Linkedin</a>
        </nav>
        
        <nav class="column column-third">
            <a href="" class="row-one"><i class="fa-solid fa-paw" id="logo-footer-icon"></i><h2 id="pets-life-title">PETS LIFE</h2></a>
        </nav>
                
        <nav class="column column-fourth">
            <h3 class="title-fotter-section">Project</h3>
            <a href="" class="row-one" style="display: inline-block;"><i class="fab fa-github"></i> Github</a>
            <a href="" class="row-two" style="display: block;" ><i class="fab fa-figma" ></i> Figma</a>
        </nav>
        
        <nav class="column column-fifth">
            <h3 class="title-fotter-section">Contact us</h3>
            <a href="" class="row-one" style="display: inline-block;"><i class="fab fa-whatsapp"></i> WhatsApp</a>
            <a href="" class="row-two" style="display: block;"><i class="fas fa-envelope"></i> Email</a>
        </nav>
    </div>
</footer>
