<header class="header">
    <div class="logo-container">
        <nav class="nav-header">
            <a href="homepage.html" aria-label="home" class="imagen-logo"><i class="fa-solid fa-paw logo" id="logo-footer-icon"></i></a>
            <a href="adminUsers.html" class="link">User Manage</a>
            <a href="adminReserves.html" class="link">Booking Control</a>
        </nav>
    </div>
    <a class="imagen-hamburguer"><i class="fa-solid fa-bars" id="boton-hamburguesa-header"></i></a>
    <div class="links-register-log">
        <button class="register-button hide" onclick="logOut()"><i class="fa-solid fa-right-from-bracket"></i> Log Out</button>
        <button class="login-button hide" onclick="location.href='profile.html'"><i class="fa-solid fa-user"></i> Profile</button>
    </div>
    <div class="mobile-menu" id="mobile-menu">
        <a href="ourServices.html" class="link">Our Service</a>
        <a href="aboutUs.html" class="link">About us</a>
        <a href="mypets.html" class="link">Pets</a>
        <a href="reservation.html" class="link">Reservations</a>
    </div>
    <input type="hidden" id="mobileMenuState" value="closed">
    
</header>


