<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "icon" type = "image/ico" href = "../../logo.ico">
        <title>Header</title>
        <link rel="stylesheet" href="../../css/components/header.css">
    </head>
    <body>
        <header class="header">
            <div class="logo-container">
                <nav class="nav-header">
                    <a href="homepage.html" class="imagen-logo"><img src="../assets/images/pngwing.com.png" alt="pets-life-logo" loading="lazy" class="logo"/></a>
                    <a href="ourServices.html" class="link" id="link1">Nuestros Servicios</a>
                    <a href="aboutUs.html" class="link">Sobre Nosotros</a>
                    
                <nav>
            </div>
            <a class="imagen-hamburguer"><img src="../assets/images/hamburguesa.png" class="hamburguer"/></a>
               
            <div class="links-register-log">
                <button class="register-button" class="hide" onclick="location.href='signUp.html'; return false;">Register</button>
                <button class="login-button" class="hide" onclick="location.href='login.html'; return false;">Login</button>
            </div>
        </header>
    </body>
</html>
