<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <div class="header">
        <a href="homepage.html"><img src="../images/pngwing.com.png" class="logo"></img></a>
        <div class="links-container">
            <a href="ourServices.html" class="link">Our Services</a>
            <a href="aboutUs.html" class="link">About Us</a>
            <a href="historial.html" class="link">Reservations</a>
            <a href="mypets.html" class="link">My Pets</a>
            <a href="profile.html" class="link">Profile</a>
            
        </div>
        <div class="links-register-log">
            <a href="registro.html" class="register">Register</a>
            <a href="login.html" class="login">Login</a>
        </div>
        
    </div>
</body>
</html>
