<header class="header display-high-width">
    <div class="logo-container">
        <nav class="nav-header">
            <a href="homePage.html" aria-label="Home" class="imagen-logo"><i class="fa-solid fa-paw logo" id="logo-footer-icon"></i></a>
            <a href="ourServices.html" class="link" id="link1">Our Service</a>
            <a href="aboutUs.html" class="link">About us</a>
        </nav>
    </div>
    <button class="imagen-hamburguer" id="boton-hamburguesa-header"><i class="fa-solid fa-bars"></i></button>
    <div class="links-register-log">
        <button class="register-button hide" onclick="location.href='signUp.html'"><i class="fa-solid fa-right-from-bracket"></i> Register</button>
        <button class="login-button hide" onclick="location.href='login.html'"><i class="fa-solid fa-user"></i> Login</button>
    </div>
</header>

<!-- Header phone bootstrap -->
<div class="header-phone display-phone-width">
    <nav class="navbar bg-body-tertiary fixed-top" style="background-color: #07F9A2;">
        <div class="container-fluid">
            <a href="homePage.html" aria-label="Home" class="imagen-logo"><i class="fa-solid fa-paw logo" id="logo-footer-icon"></i></a>
            
            <button class="navbar-toggler text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" style="background-color: #112D38;" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-white title-pets-life-phone text-center" id="offcanvasNavbarLabel">Pets Life</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a href="homePage.html" aria-label="Home" class="link nav-link text-white link-phone"><span class="span-space"></span>Homepage</a>
                        </li>
                        <li class="nav-item">
                            <a href="ourServices.html" class="link nav-link text-white link-phone"><span class="span-space"></span>Our Service</a>
                        </li>
                        <li class="nav-item">
                            <a href="aboutUs.html" class="link nav-link text-white link-phone"><span class="span-space"></span>About us</a>
                        </li>
                    </ul>
                    <div class="contenido-phone" id="phone-icons-not-logged">
                            <div id="users-logged-position-button">
                                <button class="register-button hide" id="register-button-movil" onclick="location.href='signUp.html'"><i class="fa-solid fa-right-from-bracket"></i> Register</button>
                                <button class="login-button hide" id="login-button-movil" onclick="location.href='login.html'"><i class="fa-solid fa-user"></i> Login</button>    
                            </div>
                            <i class="fa-solid fa-paw text-white" id="logo-movil-icon"></i>
                            <p class="text-white title-phone">PETS-LIFE</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
