<body id="body-form">
    
    <!-- Body page -->
    <div class="form-login-position h-75 mb-5">
        <form class="form-login" id="form-login" method="post" action="" onsubmit="return enviarMensaje(event)">
            <h1 id="title-form">Login</h1>  
            <div class="field-with-text">  
                <label class="field-form">Email <span class="required">*</span></label><br>
                <input class="input-form" type="email" id="email" name="email" required placeholder="Enter your email">
            </div>
            <div class="field-with-text">
                <label class="field-form">Password <span class="required">*</span></label><br>
                <input class="input-form" type="password" id="password" placeholder="********"><br>
            </div>
            <div class="button-login-position">
                <button type="button" form="form-login" id="log" class="button-form login-button" value="Submit" [routerLink]="['/init-page']">Login</button>
            </div>
            <a class="signup-link" [routerLink]="['/signUp']">Don't have an account yet? Sign up</a>
        </form>
    </div>
</body>