<header class="header">
    <div class="logo-container">
        <ul class="nav-header" *ngIf="!isLoggedIn">
            <nav>
                <a [routerLink]="['/homepage']" aria-label="Home" class="imagen-logo"><fa-icon [icon]="faPaw" style="font-size: 50px"></fa-icon><i class="fa-solid fa-paw logo" id="logo-footer-icon"></i></a>
                <a [routerLink]="['/our-services']" class="link" id="link1">Our Services</a>
                <a [routerLink]="['/about-us']" class="link">About us</a>
            </nav>
      
        </ul>
        <ul class="nav-header" *ngIf="isLoggedIn">
            <nav *ngIf="!isAdmin">
                <a [routerLink]="['/homepage']" aria-label="Home" class="imagen-logo"><fa-icon [icon]="faPaw" style="font-size: 50px"></fa-icon><i class="fa-solid fa-paw logo" id="logo-footer-icon"></i></a>
                <a [routerLink]="['/our-services']" class="link" id="link1">Our Services</a>
                <a [routerLink]="['/about-us']" class="link">About us</a>
                <a [routerLink]="['/my-pets']" class="link">My Pets</a>
            </nav>
            <nav *ngIf="isAdmin">
                <a [routerLink]="['/homepage']" aria-label="Home" class="imagen-logo"><fa-icon [icon]="faPaw" style="font-size: 50px"></fa-icon><i class="fa-solid fa-paw logo" id="logo-footer-icon"></i></a>
                <a [routerLink]="['/init-page']" class="link" id="link1">Pets DayCare</a>
                <a [routerLink]="['/admin-users']" class="link">Users</a>
                <a [routerLink]="['/admin-bookings']" class="link">Bookings</a>
            </nav>
      
        </ul>
        
    </div>
    <a class="imagen-hamburguer"><i class="fa-solid fa-bars" id="boton-hamburguesa-header"></i></a>
    <div class="links-register-log" *ngIf="!isLoggedIn">
        <button class="register-button hide" [routerLink]="['/sign-up']"><i class="fa-solid fa-right-from-bracket"></i> Register</button>
        <button class="login-button hide" [routerLink]="['/login']"><i class="fa-solid fa-user"></i> Login</button>
    </div>
    <div class="links-register-log" *ngIf="isLoggedIn">
        <button class="register-button hide" [routerLink]="['/homepage']"><i class="fa-solid fa-right-from-bracket"></i> Log Out</button>
        <button class="login-button hide" [routerLink]="['/profile']"><i class="fa-solid fa-user"></i> Profile</button>
    </div>
    <div class="mobile-menu" id="mobile-menu" >
        <a [routerLink]="['/our-services']"  class="link">Our Services</a>
        <a [routerLink]="['/aboutUs']" class="link">About us</a>
        <a href="mypets.html" class="link">Pets</a>
        <a href="reservation.html" class="link">Reservations</a>
    </div>
    <input type="hidden" id="mobileMenuState" value="closed">
</header>